.body_backgorund 
{
    background-image:url(an.jpeg);
    background-position:center;
    background-size:contain;
}
#myCanvas
{
   border-width: 10px;
   background-color: white;
   border-style: ridge;
   border-color: red;
   background-image:url(ann.jpeg);
   background-position: center;
   background-size: contain;
}

#anni {
    color: red;
}
